<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N-Body Simulation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
     <div class="topnav">
        
        <a href="blog">Blog</a>
        <a href="docs">Docs</a>
        <a href="install">Install</a>
        <a class="active" href="/">Home</a>
    </div> 

    <!-- Small center island describing what the nbody simulator is -->
    <div class="island">
        <h2>NBody Simulator</h2>
        <p>N body simulator using a C++ engine which is then connected to a python GUI</p>
    </div>
        <!-- Video island -->
        <div class="island-gray">
            <video controls autoplay muted style="border-radius: 24px; width: 100%; max-width: 300px; display: block; margin: 0 auto;">
                <source src="/static/Screencast from 2025-11-17 13-55-16.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
    <!-- Github links to nbody engine and nbody gui, side by side under the video -->
    <div class="github-links-row">
        <div class="island-gh">
            <h3>NBody Engine</h3>
            <p><a href="https://github.com/TegranGrigorian/n-body-simulator">GitHub Link</a></p>
        </div>
        <div class="island-gh">
            <h3>NBody GUI</h3>
            <p><a href="https://github.com/TegranGrigorian/nbody-gui">GitHub Link</a></p>
        </div>
    </div>
    <footer class = "footer">
        <p>Tegran Grigorian <a href="https://github.com/TegranGrigorian">GitHub</a></p>
    </footer>
</body>
</html>